body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.nav {
	margin-bottom: 2rem;
}

.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-decoration: none;
}

.nav li:first-child {
	padding-left: 0;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
	padding: 10px;
	text-decoration: none;
}

.info-header {
	color: darkgray;
	font-size: 15px;
	margin-top: 0.5rem;
}

.card {
	width: 100%;
	max-width: 25rem;
	padding: 10px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border: 1px solid #dad7d7;
	border-radius: 3px;
	align-items: center;
}

.header-title {
	background-color: #f7f7f8;
	border-bottom: 1px solid #dad7d7;
	margin-bottom: 1rem;
	width: inherit;
}

.header-title h4:nth-child(1) {
	margin-bottom: 1rem;
	margin-top: 0rem;
}

.profile-selection {
	align-self: center;
	width: 95%;
}

.category {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	cursor: pointer;
}

.question-category {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.question-category > label {
	display: flex;
	width: 100%;
	flex-direction: row;
	margin: 1rem 0 1rem 1rem;
}

.question-category > label > p {
	margin: 0 auto;
}

.question-category > label > input {
	z-index: 10;
}

.question-card {
	width: 100%;
	min-width: 22rem;
	max-width: 25rem;
	padding: 1px;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	border: 1px solid #dad7d7;
	border-radius: 3px;
}

.card > a {
	color: black;
	text-decoration: none;
}

.question-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.question-form > button {
	margin-top: 1rem;
	height: 2.2rem;
	background-color: royalblue;
	color: white;
}

.question-profile {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.question-profile > a {
	text-decoration: none;
	color: black;
}

/* truncate */
.preview-text {
	text-overflow: ellipsis;
	width: 4em;
	white-space: nowrap;
	overflow: hidden;
}

.stats-container {
	display: flex;
	justify-content: center;
}

.option-stat {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: inherit;
	height: 5em;
	border-radius: 25px;
	background-color: aliceblue;
	margin: 1rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
}

.stat-text {
	margin: 0 auto;
	padding: 5px;
}

.progress-indicator {
	width: 80%;
	height: 1rem;
	background-color: blue;
	/* margin-left: 1rem; */
}

.user-vote {
	align-self: flex-end;
	width: 2rem;
	transform: translate(1rem, -1rem);
	height: 2rem;
	border-radius: 25px;
	word-wrap: break-word;
	background-color: yellow;
	color: orangered;
	padding: 0.4rem;
	position: absolute;
	font-size: x-small;
	font-weight: bold;
}
